.edit-account-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 16px 16px 16px;

  .edit-form-section {
    display: flex;
    justify-content: center;
  }

  .divider {
    border-top-color: rgba(var(--color-gray4), 1);
    border-top-width: 1px;
    border-top-style: solid;
    margin-block: 10px;
  }
}
