.input-container {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: var(--form-control-margin);
  width: 100%;
  min-width: 150px;
  max-width: 200px;

  &.input--fullWidth {
    max-width: none;
  }

  &.input--disabled,
  &.input--disabled .input__icon {
    pointer-events: none;
    user-select: none;
    opacity: 0.6;
  }

  &.input--hasIcon .input {
    padding-right: 38px;
  }

  &.input--hasValue .input__label {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate(-3px, -80%);
    font-size: 0.75rem;
  }
}

.input-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border-radius: 12px;
}

.input {
  border: 2px solid transparent;
  background-color: rgba(var(--color-gray2), 1);
  color: rgba(var(--color-text), 1);
  border-radius: inherit;
  padding: 7px 13px 7px 10px;
  width: 100%;
  outline: none;
  transition: background-color 0.25s ease;

  &:focus {
    background-color: rgba(var(--color-gray3), 1);
  }

  &:focus ~ .input__label {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate(-3%, -77%);
    font-size: 0.75rem;
  }

  &:focus ~ .input__icon {
    box-shadow: -15px 10px 10px -10px rgba(0, 0, 0, 0.05);
    transform: translate(6px, -6px);
    background-color: rgba(var(--color-gray1), 1);
  }
}

.input__label {
  position: absolute;
  left: 13px;
  font-size: 0.8rem;
  cursor: text;
  user-select: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.4;
}

.input__loader {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 7px;
  pointer-events: none;
  border-radius: 50%;
  box-sizing: border-box;
  background: inherit;
  cursor: default;
  z-index: 4;

  &:before {
    border: 2px dashed rgba(var(--color-primary), 1);
    animation: input-loader 0.6s linear infinite;
    opacity: 0.2;
  }

  &:after {
    border: 2px solid rgba(var(--color-primary), 1);
    animation: input-loader 0.6s ease infinite;
  }

  &:before,
  &:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: inherit;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
  }
}

.input__message {
  position: absolute;
  right: 0;
  padding-right: 12px;
  font-size: 0.7rem;
  pointer-events: none;
  color: rgba(var(--color-error), 1);
  bottom: -20px;
}

.input__icon {
  left: auto;
  right: 0;
  box-shadow: -12px 0 10px -10px rgba(0, 0, 0, 0.05);
  position: absolute;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  background-color: rgba(var(--color-gray2), 1);
  pointer-events: none;
  color: rgba(var(--color-text), 1);
}

@keyframes input-loader {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
