.toast-container {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100vw;
  pointer-events: none;
  transition: all 0.25s ease;
  bottom: 0;
  z-index: 99000;
}

.toast {
  min-width: 250px;
  max-width: 360px;
  min-height: 70px;
  border-radius: 20px;
  margin-bottom: 12px;
  transition: all 0.25s ease;
  opacity: 1;
  animation: toast 0.5s ease forwards;
  background-color: rgba(var(--color-primary), 0.15);
  overflow: hidden;
  padding: 20px;
  pointer-events: all;

  &.is-leaving {
    animation: toast-leaving 0.5s ease forwards;
  }

  &.toast--primary {
    background-color: rgba(var(--color-primary), 0.15);
    color: rgba(var(--color-primary), 1);
    .toast-close-icon:before,
    .toast-close-icon:after {
      background-color: rgba(var(--color-primary), 1);
    }
  }
  &.toast--success {
    background-color: rgba(var(--color-success), 0.15);
    color: rgba(var(--color-success), 1);
    .toast-close-icon:before,
    .toast-close-icon:after {
      background-color: rgba(var(--color-success), 1);
    }
  }
  &.toast--warning {
    background-color: rgba(var(--color-warning), 0.15);
    color: rgba(var(--color-warning), 1);
    .toast-close-icon:before,
    .toast-close-icon:after {
      background-color: rgba(var(--color-warning), 1);
    }
  }
  &.toast--error {
    background-color: rgba(var(--color-error), 0.15);
    color: rgba(var(--color-error), 1);
    .toast-close-icon:before,
    .toast-close-icon:after {
      background-color: rgba(var(--color-error), 1);
    }
  }
}

.toast-message-container {
  display: flex;
  align-items: center;
  i {
    left: -7px;
    padding-right: 7px;
    font-size: 1.1rem;
  }
}

.toast-message-content {
  display: flex;
  flex-direction: column;
  margin-right: 7px;
}

.toast-message-header {
  width: 100%;
  margin: 0;
  padding: 0 0 6px;
  font-size: 0.9rem;
  font-weight: 600;
}

.toast-message {
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1rem;
}

.toast-close-button {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 0;
  transform: scale(0.75);
  background: transparent;
  border: 0;
  cursor: pointer;

  .toast-close-icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.25s ease;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 16px;
      height: 2px;
      border-radius: 2px;
      transition: all 0.3s ease;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:hover:before {
      width: 12px;
      transform: rotate(180deg);
    }

    &:after {
      transform: rotate(45deg);
    }

    &:hover:after {
      width: 12px;
      transform: rotate(180deg);
    }
  }
}

@keyframes toast {
  from {
    opacity: 0;
    clip-path: circle(0% at 50% 100%);
  }
  to {
    opacity: 1;
    clip-path: circle(120% at 50% 100%);
  }
}

@keyframes toast-leaving {
  from {
    opacity: 1;
    clip-path: circle(120% at 50% 100%);
  }
  to {
    opacity: 0;
    clip-path: circle(0% at 50% 100%);
  }
}
