@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 0.375;
  }
  100% {
    transform: scale(35);
    opacity: 0;
  }
}

@keyframes select-menu {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    transform: translateY(16px);
    opacity: 1;
  }
}

@keyframes notification {
  from {
    opacity: 0;
    clip-path: circle(0% at 50% 100%);
  }
  to {
    opacity: 1;
    clip-path: circle(120% at 50% 100%);
  }
}

@keyframes notification-leave {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dialog {
  0% {
    transform: scale(0.8);
  }

  40% {
    transform: scale(1.08);
  }

  80% {
    transform: scale(0.98);
  }

  to {
    transform: scale(1);
  }
}

@keyframes dialog-leave {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.7);
  }
}
