.operations-table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.operations-table-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 700px;
  background-color: rgba(var(--color-bg-white), 1);
  border-radius: 20px;
  padding: 20px;
}

.operations-table {
  width: 100%;
  border-radius: 12px;
  border-collapse: collapse;
}

.operations-table__header {
  background-color: rgba(var(--color-gray2), 1);
  padding: 5px;
  border: 0;
  td {
    padding: 8px 12px;
    font-size: 0.8rem;
    font-weight: bold;

    &.upcoming {
      color: rgba(var(--color-text), 0.7);
    }

    div {
      display: flex;
      align-items: center;
      i {
        font-size: 1.2rem;
        margin-right: 8px;
      }
    }
  }

  &:first-child td {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.operations-table__line {
  td {
    padding: 8px 12px;
  }

  .operations-table__line-content {
    display: flex;
    align-items: center;

    .operations-table__line-type {
      width: 30px;
      height: 30px;
      background-color: rgba(var(--color-gray4), 1);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(var(--color-text), 0.7);
      margin-right: 12px;
    }

    .operations-table__line-description__content {
      display: flex;
      flex-direction: column;
      margin-right: 12px;
      .operations-table__line-description {
        font-size: 0.9rem;
        font-weight: bold;
      }
      .operations-table__line-account {
        font-size: 0.7rem;
        font-style: italic;
      }
    }

    .operations-table__line-tag {
      border-style: solid;
      border-width: 1px;
      border-radius: 12px;
      padding-inline: 5px;
      p {
        font-size: 0.7rem;
        font-weight: bold;
      }
    }

    .operations-table__line-amount {
      margin-left: auto;
      font-weight: 700;
      font-size: 1rem;
      &.negative {
        color: rgba(var(--color-error), 1);
      }
      &.zero {
        color: rgba(var(--color-default), 1);
      }
      &.positive {
        color: rgba(var(--color-success), 1);
      }
    }
  }
}
