.currency-input-container {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin: 26px 5px 5px 5px;
  width: 100%;
  min-width: 150px;
  max-width: 200px;

  &.currency-input--fullWidth {
    max-width: none;
  }

  &.currency-input--disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.6;
  }
}

.currency-input-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border-radius: 12px;
}

.currency-input {
  border: 2px solid transparent;
  background-color: rgba(var(--color-gray2), 1);
  color: rgba(var(--color-text), 1);
  border-radius: inherit;
  padding: 7px 13px 7px 10px;
  width: 100%;
  outline: none;
  font-size: 0.9rem;
  max-height: 36px;
  font-weight: bold;

  &:focus ~ .currency-input__label {
    transform: translate(-3%, -77%);
    font-size: 0.75rem;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.currency-input__label {
  position: absolute;
  left: 13px;
  font-size: 0.8rem;
  cursor: text;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
  transform: translate(-3px, -80%);
  font-size: 0.75rem;
}

.currency-input__mask {
  position: absolute;
  left: 13px;
  font-size: 0.8rem;
  user-select: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  opacity: 0.4;
  letter-spacing: 0.085rem;
  font-size: 0.9rem;
}

.currency-input__message {
  position: absolute;
  right: 0;
  padding-right: 12px;
  font-size: 0.7rem;
  pointer-events: none;
  color: rgba(var(--color-error), 1);
  bottom: -20px;
}
