.switch {
  margin: var(--form-control-margin);
  color: #fff;
  padding: 5px;
  border-radius: 20px;
  min-width: 48px;
  height: 28px;
  border: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--color-gray3), 1);
  transition: all 0.25s ease;
  overflow: hidden;

  &.highlight {
    border: 1px solid rgba(var(--color-primary), 0.1);
  }

  &:hover {
    background: rgba(var(--color-gray4), 1);
  }
}

.switch__input {
  position: absolute;
  width: 100%;
  opacity: 0 !important;
  height: 100%;
  border-radius: inherit;
  z-index: 100;
  top: 0;
  left: 0;
  margin: 0;
  cursor: pointer;

  &:checked ~ .switch__background {
    opacity: 1;
    transform: scale(1);
    width: 100%;
    padding-bottom: 100%;
    left: 0;
    border-radius: 50%;
    transition: all 0.25s ease;
  }

  &:checked ~ .switch__circle {
    left: calc(100% - 24px);
    box-shadow: -5px 0 25px 0 rgba(var(--color-bg-white), 0.6);
    color: rgba(var(--color-primary), 1);
  }

  &:checked ~ .switch__text {
    padding-left: 5px;
    padding-right: 25px;
    color: #fff;
  }

  &:checked ~ .switch__text.on {
    transform: translate(0);
    position: relative;
    opacity: 1;
  }

  &:checked ~ .switch__text.off {
    transform: translate(100%);
    position: absolute;
    opacity: 0;
  }
}

.switch__circle {
  width: 20px;
  height: 20px;
  background: rgba(var(--color-bg-white), 1);
  border-radius: 20px;
  transition: all 0.25s ease;
  position: absolute;
  z-index: 10;
  left: 4px;
  color: rgba(var(--color-text), 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch__text {
  font-size: 0.7rem;
  padding: 5px 5px 5px 25px;
  transition: all 0.25s ease 0.05s;
  color: rgba(var(--color-text), 1);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  white-space: nowrap;

  &.on {
    transform: translate(-100%);
    position: absolute;
    opacity: 0;
  }
}

.switch__background {
  width: 100%;
  height: auto;
  position: absolute;
  background: rgba(var(--color-primary), 1);
  border-radius: inherit;
  z-index: 2;
  transition: all 0.25s ease-out;
  transform: scale(1);
  left: -100%;
  border-radius: 50%;
  padding-bottom: 100%;
}
