.dialog-backdrop {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: saturate(180%) blur(8px);
  z-index: 98000;
  align-items: center;
  justify-content: center;
}

.dialog {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-height: 150px;
  border-radius: 20px;
  animation: dialog 0.4s forwards;
  transform: scale(0.7);

  &.is-leaving {
    animation: dialog-leave 0.4s;
  }

  .dialog-title {
    width: 100%;
    display: flex;
    padding: 16px 16px 10px 16px;
    align-items: center;
    justify-content: center;
  }

  .dialog-button {
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    background: inherit;
    border-radius: 12px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.25s ease;
    z-index: 200;
    border: 0;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05);
      transform: translate(-2px, 2px);
    }

    .dialog-button-icon {
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;
      transition: all 0.25s ease;
      width: 34px;
      height: 34px;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }

      &:before,
      &:after {
        content: '';
        width: 14px;
        height: 2px;
        background: black;
        position: absolute;
        border-radius: 2px;
        transition: all 0.3s ease;
      }

      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }
}

@keyframes dialog {
  0% {
    transform: scale(0.8);
  }

  40% {
    transform: scale(1.08);
  }

  80% {
    transform: scale(0.98);
  }

  to {
    transform: scale(1);
  }
}

@keyframes dialog-leave {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.7);
  }
}
