$primary: 54, 52, 197;
$success: 41, 196, 102;
$error: 196, 78, 71;
$black: 6, 18, 55;
$default: 177, 177, 177;

$bg: 244, 247, 248;
$gray1: 249, 252, 253;
$gray2: 244, 247, 248;
$gray3: 240, 243, 244;
$gray4: 230, 233, 234;

$scrollbarColor: 44, 62, 80;
$shadowOpacity: 0.05;

:export {
  primary: $primary;
  success: $success;
  error: $error;
  black: $black;
  default: $default;
  bg: $bg;
  gray1: $gray1;
  gray2: $gray2;
  gray3: $gray3;
  gray4: $gray4;
  scrollbarColor: $scrollbarColor;
  shadowOpacity: $shadowOpacity;
}
