.account-tile {
  border-radius: 20px;
  background-color: #fff;
  margin: 14px 7px;
  min-width: 250px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 20px 30px;
  filter: drop-shadow(0px 0px 4px rgba(6, 18, 55, 0.05));
  transition: transform 0.25s ease;

  &:hover {
    transform: translateY(-3px);
  }

  &.account-tile--selected {
    cursor: default;
    transform: translateY(-3px);
    border: 1px solid rgba(var(--color-primary), 0.3);
  }

  .account-tile-title {
    text-transform: capitalize;
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 1rem;
  }

  .account-tile-balance-container {
    display: flex;
    align-items: center;
    margin-bottom: 14px;

    .account-tile-icon {
      width: 32px;
      height: 32px;
      border-radius: 32px;
      background-color: rgba(var(--color-gray4), 1);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 14px;

      & i {
        color: rgba(var(--color-text), 0.8);
      }
    }

    .account-tile-balance {
      font-weight: 700;
      font-size: 1.2rem;

      &.negative {
        color: rgba(var(--color-error), 1);
      }
      &.zero {
        color: rgba(var(--color-default), 1);
      }
      &.positive {
        color: rgba(var(--color-success), 1);
      }
    }
  }

  .account-tile-info {
    position: absolute;
    display: flex;
    align-self: flex-end;
    right: 21px;
    bottom: 10px;

    & p {
      font-weight: 700;
      font-size: 0.8rem;
      color: rgba(var(--color-text), 0.8);
    }
  }

  .account-edit {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
    i {
      font-size: 1.2rem;
      padding: 4px;
      color: rgba(var(--color-primary), 1);
      border-radius: 50%;
      border: 1px solid rgba(var(--color-primary), 0);
      transition: border 0.25s ease;
      &:hover {
        border: 1px solid rgba(var(--color-primary), 1);
      }
    }
  }
}
