.button-container {
  width: fit-content;
  margin: 5px;

  .button {
    width: fit-content;
  }
}

.button-container--fullWidth {
  width: 100%;
  margin: 0;

  .button {
    width: 100%;
  }
}

.button {
  border-radius: 12px;
  border: 0;
  position: relative;
  user-select: none;
  z-index: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 0.8rem;
  color: #fff;
  cursor: pointer;
  height: 36px;
  background-color: rgba(var(--color-default), 1);

  &.button--primary {
    background-color: rgba(var(--color-primary), 1);
  }

  &.button--success {
    background-color: rgba(var(--color-success), 1);
  }

  &.button--warning {
    background-color: rgba(var(--color-warning), 1);
  }

  &.button--error {
    background-color: rgba(var(--color-error), 1);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.35;
  }

  &.button--loading {
    pointer-events: none;
  }

  .button__content {
    padding: 8px 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .button__loader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    z-index: 3;
    background-color: rgba(var(--color-text), 0.3);

    &:before,
    &:after {
      content: '';
      width: 17px;
      height: 17px;
      position: absolute;
      border: 2px solid hsla(0, 0%, 100%, 0);
    }

    &:before {
      border-left-color: #fff;
      border-radius: 50%;
      animation: button-loader 0.6s ease infinite;
    }
    &:after {
      border-left: 2px dotted hsla(0, 0%, 100%, 0.6);
      border-radius: 50%;
      animation: button-loader 0.6s linear infinite;
    }
  }
}

.button__ripple-effect {
  width: 20px;
  height: 20px;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  display: block;
  content: '';
  border-radius: 9999px;
  opacity: 1;
  animation: 0.6s ease 1 forwards button-ripple;
}

@keyframes button-loader {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes button-ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 0.375;
  }
  100% {
    transform: scale(35);
    opacity: 0;
  }
}
